
	<footer class="text-muted">
		<div class="container">
			<p class="text-center">
				Developer by: <a href="http://ermehar.com" target="_blank" class="text-muted">Ermehar</a>
			</p>
		</div>
	</footer>
	<script src="/js/jquery.min.js"></script>
	<script src="/js/poper.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			$('#media').carousel({
				pause: true,
				interval: false,
			});
		});
	</script>

</body>
</html>