<section class="jumbotron text-center">
      <div class="container">
        <h1 class="jumbotron-heading">Top Free in Android Apps</h1>
        <p class="lead text-muted">Here is the list if top free android application.</p>
        <p>
          <a href="/getapps" class="btn btn-primary my-2">Fetch the latest apps.</a>
        </p>
      </div>
    </section>