<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="This is a small app that will list down the top 10 free android application and detail of the application.">
	<meta name="author" content="Yashwant Mehar">
	<title>G-App</title>

	<!-- Bootstrap core CSS -->
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<!-- Custom styles -->
	<link href="/css/style.css" rel="stylesheet">
</head>
<body>