<header>
    <div class="collapse bg-dark" id="navbarHeader">
      <div class="container">
        <div class="row">
          <div class="col-sm-8 col-md-7 py-4">
            <h4 class="text-white">About</h4>
            <p class="text-muted">This is a small app that will list down the top 10 free android application and detail of the application. By click on the button "Fetch the latest apps", latest application will update to the databse and updated list will show to you.</p>
          </div>
          <div class="col-sm-4 offset-md-1 py-4">
            <h4 class="text-white">Contact</h4>
            <ul class="list-unstyled">
              <li><a href="https://www.linkedin.com/in/ermehar/" class="text-white" target="_blank">LinkedIn</a></li>
              <li><a href="http://fb.com/supernaturallywise" class="text-white" target="_blank">Facebook</a></li>
              <li><a href="mailto:yashwantmehar@gmail.com" class="text-white">Email</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="navbar navbar-dark bg-dark shadow-sm">
      <div class="container d-flex justify-content-between">
        <a href="/" class="navbar-brand d-flex align-items-center">
          <strong> &#286;-&#257;pp</strong>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </div>
  </header>